# LiveWave Environment Variables Template (.env.example)
PORT=3000
NODE_ENV=production
MEDIASOUP_ANNOUNCED_IP=127.0.0.1
AUTH_SECRET=your_custom_jwt_and_salt_secret_here
ADMIN_PASSWORD=admin123
STREAMER_PASSWORD=123456
